extends layout

block content
	section(ng-app='usys',id='content')
		div(ng-controller='urlCTRL',id='text')
			span(ng-repeat='u in url')
				| ULR to verify
				input(type='text',placeholder='Insert your url',ng-model='u.text',ng-change='validate()',ng-disabled='u.disabled')
				button(ng-click='delet(u.id)',ng-disabled='!u.disabled')
					| Delete
				span(class='error',id="{{u.id}}")
			
			div(id='codeHead',class='code')
				| &lthead&gt
				tag(ng-repeat='u in url',ng-show='u.type == ".css"')
					| {{u.tag}}
				| &lt/head&gt

			div(id='codeBody',class='code')
				tag(ng-repeat='u in url',ng-show='u.type == ".js"')
					| {{u.tag}}
				//
					iframe(id='ifr',ng-src='{{urli}}')
			span(id='cdnPkg',ng-repeat='pkg in as.results')
				| Name: {{pkg.name}} - Url: {{pkg.latest}}<br>
