extends layout

block content
	section(ng-app='usys',id='content')
		div(ng-controller='urlCTRL',id='text')
			div(class='inputs')
				a(ng-click='template_s()',href='')
					| Switch to {{template.opp}}
				br
				a(ng-click='path_changer()',href='')
					| See {{local_remote.opp}}


				section(ng-repeat='u in url',class='txtin')

					section(ng-hide='u.blank',class='txtin')
						| ULR to verify
						input(type='text',placeholder='Insert your url',ng-model='u.text',ng-change='validate()',ng-disabled='u.disabled')
						button(ng-click='delet(u.id)',ng-disabled='!u.disabled')
							| Delete
						button(ng-click='cancel_insert()',ng-hide='u.disabled')
							| Cancel insertion
						span(class='error',id="{{u.id}}")
					section(ng-show='u.blank',ng-hide='!u.blank',class='insert')
						button(ng-click='cdnChose()')
							| Select from CDN source
						button(ng-click='introduce()',data-clipboard-text='ass',id='copy-element')
							| Introduce your own package

				div(id='wget-box',ng-show='local_remote.path')
					| wget your css files
					section(id='wget-css',class='wget')
						| wget
						span(ng-repeat='ur in url',ng-show='ur.csst')
							|  {{ur.text}}
					button(id='wgetc-button',data-clipboard-target='wget-css',tittle='Click to copy to clipboard',class='cpy-btn')
						| Copy to wget css clipboard
					br


					| wget your js files
					section(id='wget-js',class='wget')
						| wget
						span(ng-repeat='ur in url',ng-show='ur.jst')
							|  {{ur.text}}
					button(id='wgetj-button',data-clipboard-target='wget-js',tittle='Click to copy to clipboard',class='cpy-btn')
						| Copy to wget js clipboard

			
			div(class='code-container')
				div(id='ccontainer-1')
					div(class='path')
						| Introduce your the path where your css files are placed in: 
						input(type='text',ng-model='path.css',id='path-css',ng-change='pathc()',placeholder='Introduce your path')



					div(id='htmlc-code',ng-show='template.html')
						div(id='codeHead',class='code')
							| &lthead&gt
							br
							tag(ng-repeat='u in url',ng-show='u.type == ".css"')
								| {{u.tag}}
								br
							| &lt/head&gt

					div(id='jadec-code',ng-show='template.jade')
						div(id='codeHead',class='code')
							| head
							br
							tag(ng-repeat='u in url',ng-show='u.type == ".css"')
								| {{u.jtag}}
								br



					button(id='css-button',tittle='Click to copy to clipboard',class='cpy-btn')
						| Copy css to clipboard

				div(id='ccontainer-2')
					div(class='path')
						| Introduce your the path where your js files are placed in: 
						input(type='text',ng-model='path.js',id='path-js',ng-change='pathc()')


					div(id='htmlj-code',ng-show='template.html')
						div(id='codeBody',class='code')
							tag(ng-repeat='u in url',ng-show='u.type == ".js"')
								| {{u.tag}}
								br

					div(id='jadej-code',ng-show='template.jade')
						div(id='codeBody',class='code')
							tag(ng-repeat='u in url',ng-show='u.type == ".js"')
								| {{u.jtag}}
								br



					button(id='js-button',data-clipboard-target='codeBody',tittle='Click to copy to clipboard',class='cpy-btn')
						| Copy to js clipboard

				//
					iframe(id='ifr',ng-src='{{urli}}')
			section(ng-show='!pkg',id='pkg-modal')
				div(id='pkg-modal-inner')
					span(name='sp')
						| Search by package name: 
					input(type='text',name='pkgSearch',ng-model='pkgs.name')
					br
					div(id='cdn-results')
						div(id='cdnPkg',ng-repeat='pkg in as.results | filter:pkgs',class='pkg-item')
							div(id='pkg-name')
								| Name: {{pkg.name}} - 
							div(id='pkg-url')
								| Url: {{pkg.latest}} - 
							a(ng-click='cdnChose(pkg.latest,pkg.name)',href='',class='pkg-link')
								| Select
							br
					button(ng-click='cancel_cdn()')
						| Cancel


