extends layout

block content
	section(ng-app='usys',id='content')
		div(ng-controller='urlCTRL',id='text')
			span
				| ULR to verify
			input(type='text',placeholder='Insert your url',ng-model='url.text',ng-change='validate()')
			span(class='error')
				| Error
