extends layout

block content
	section(ng-app='usys',id='content')
		div(ng-controller='urlCTRL',id='text')
			span(ng-repeat='u in url')
				| ULR to verify
				input(type='text',placeholder='Insert your url',ng-model='u.text',ng-change='validate()')
				span(class='error',id="{{u.id}}")
					| Error
