*{
	border-width: 1px;
}

body {
	padding: 0px 2% 10px 2%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#head{
	font-size: 31px;
	font-weight: bold;
}

#head span{
	font-size: 21px;
	font-weight: initial;
	color: gray;
}

#app-name{
	height: 23px;
}

hr.style-one {
	border: 0;
	height: 1px;
	background: #333;
	background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
	background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
	background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
	background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}

#content{
	wigth:100%;
	heigh:100%;
}

.inputs{
	float:left;
	width:50%;
}

#insertion{
	width: 91%;
	height: 38vh;
}

.txtin{
	margin-top:0px;
}

#text{

}

.insert{
	float:left;
}

#options{
	margin-bottom: 19vh;
}

.code-container{
	width: 50%;
	margin-left: 50%;
}

#ccontainer-1{
}

.cpy-btn{
	
}

.code{
	background-color: gray;
	color:white;
	padding: 5px 10px;
}

.code#codeHead{
	height: 37vh;
}

.code#codeBody{
	height: 34vh;
}

#pkg-modal{
	position: absolute;
	background-color: white;
	right:0px;
	bottom:0px;
	left:0px;
	height:100%;	
}

#pkg-modal-inner{
	width:99.9%;
	height:91%;
	margin-top:2%;
}

#cdn-results{
	overflow:scroll;
	height: 89%;
	width: 92%;
	margin: 1% 4%;
	background-color: rgb(114, 114, 114);
	padding:1%;
	color:white;
	font-weight: bold;
}

a {
  color: #00B7FF;
}

a.pkg-link{
	color: #FFFFFF;
	text-decoration: none;
	background-color: lime;
	padding:5px;
}

.pkg-item{
	padding-bottom: 14px;
}

#pkg-name{
	float: left;
	width:31%;
}

#pkg-url{
	font-size:12px;
	float: left;
	width:62%;
}

.error{
	color:red;
	font-weight:bold;
	display:none;
}

#wget-css{

}

#wget-js{

}

.wget{
	background-color: rgb(104, 104, 104);
	color: white;
	padding: 4px 7px;
	overflow-x: scroll;
	width: 100%;
	white-space:nowrap;
	height:32px;
}

#wget-box{
	width: 83%;
}
